.user-form-container form input,
.user-form-container form textarea,
.user-form-container button {
    display: block;
}

.label-pointer {
    cursor: pointer;
}

.user-form-group input {
    display: inline !important;
}

.warning {
    margin: 0;
    color: red;
}
