 .App {
  text-align: left;
}

.App-link {
  color: #61dafb;
}

.News {
  background-color: azure;
  border: #61dafb 1px solid;
  padding: 10px;
}

.News p {
  background-color: antiquewhite;
}

.menu {
  float: left;
  width: 10vw;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu a {
  display: block;
}

.menu button {
  display: block;
  min-width: 100%;
}

main {
  float: right;
  clear: both;
  width: 90vw;
}